{% extends "layout.html" %}

{% block content %}
<div class="max-w-2xl my-10 mx-auto p-6 bg-white shadow-xl rounded-sm border-black border">
    <p class="text-xl font-semibold text-green-600 mb-4">Your order for the following item(s) has been successfully placed:</p>
    <div class="bg-gray-100 rounded-lg divide-y divide-dashed divide-gray-400/90">
        {% for product in products %}
            <div class="flex flex-col sm:flex-row items-center space-x-5 p-4">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="shrink-0 w-24 h-24 object-fill rounded-md">
                <div>
                    <p class="text-lg font-semibold text-gray-800">Product Name: {{ product.name }}</p>
                    <p class="text-sm font-medium text-green-700">Product Price: ${{ '%0.2f' % product.price|float|round(2) }}</p>
                    <p class="text-sm text-gray-600">Product Brand: {{ product.brand }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}