{% extends "layout.html" %}

{% block content %}

<div class="flex flex-row mt-10 mx-20">
    <img class="shrink-0 w-[30rem] h-[30rem] object-fill rounded-md pr-4" src="{{ product.image }}" alt="{{ product.name }}">
    <div class="flex flex-col w-full pt-10 pl-8">
        <div class="flex justify-between items-start">
            <div>
                <h3 class="truncate text-lg font-semibold text-gray-800 mb-1">{{ product.name }}</h3>
                <small class="text-gray-500">{{ product.brand }}</small>
            </div>
            <div class="flex items-center font-medium">
                {% from "_stars.html" import stars %}
                {{ stars('p', product.id, product.average_rating) }}
                <p class="ml-2 text-medium text-gray-600">({{ product.rating_count }} reviews)</p>
            </div>
        </div>
        <p class="mt-2 text-gray-700">{{ product.description }}</p>
        <p class="mt-2 text-lg font-semibold text-green-700">Price: ${{ '%0.2f' % product.price|float|round(2) }}</p>


        <div class="pt-4">
            {% from "_formhelpers.html" import render_field %}
            <form method="post" autocomplete="on" id="review-form">
                {{ form.csrf_token }}

                {{ render_field(form.comment, class="w-full mt-4 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder="Review", onkeydown="if(event.keyCode === 13) {return false;}") }}

                <h3 class="mt-4">Rating: </h3>
                <div class="flex">
                    <div class="flex flex-row-reverse space-x-1">
                        <input type="radio" id="star5" name="rating" value="5" class="hidden"/>
                        <label for="star5" class="peer cursor-pointer text-gray-300 hover:text-yellow-400 peer-hover:text-yellow-400" required>
                            <svg aria-hidden="true" class="w-9 h-9 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                        </label>

                        <input type="radio" id="star4" name="rating" value="4" class="hidden" />
                        <label for="star4" class="peer cursor-pointer text-gray-300 hover:text-yellow-400 peer-hover:text-yellow-400">
                            <svg aria-hidden="true" class="w-9 h-9 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                        </label>

                        <input type="radio" id="star3" name="rating" value="3" class="hidden" />
                        <label for="star3" class="peer cursor-pointer text-gray-300 hover:text-yellow-400 peer-hover:text-yellow-400">
                            <svg aria-hidden="true" class="w-9 h-9 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                        </label>

                        <input type="radio" id="star2" name="rating" value="2" class="hidden" />
                        <label for="star2" class="peer cursor-pointer text-gray-300 hover:text-yellow-400 peer-hover:text-yellow-400">
                            <svg aria-hidden="true" class="w-9 h-9 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                        </label>

                        <input type="radio" id="star1" name="rating" value="1" class="hidden" />
                        <label for="star1" class="peer cursor-pointer text-gray-300 hover:text-yellow-400 peer-hover:text-yellow-400">
                            <svg aria-hidden="true" class="w-9 h-9 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                        </label>
                    </div>
                </div>

                <input type="submit" value="Submit" name="submit" class="mt-8 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">

            </form>
        </div>

    </div>
</div>

<script>
const starLabels = document.querySelectorAll('label[for^="star"]');

starLabels.forEach(label => {
    label.addEventListener('click', function() {
        const rating = this.htmlFor.replace('star', '');

        starLabels.forEach(lbl => {
            lbl.classList.remove('text-yellow-400');
            lbl.classList.add('text-gray-300');
        });

        for (let i = 1; i <= rating; i++) {
            document.querySelector(`label[for="star${i}"]`).classList.add('text-yellow-400');
            document.querySelector(`label[for="star${i}"]`).classList.remove('text-gray-300');
        }
    });
});
document.getElementById('review-form').addEventListener('submit', function(event) {
    var radioButton = document.querySelector('input[name="rating"]:checked');
    if (!radioButton) {
      alert('Please provide a rating.');
      event.preventDefault();
    }
});
</script>

{% endblock %}
