{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Log In</h1>
    <br/>

    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="" autocomplete="on">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
        <p><input type="submit" value="Log In">
    </form>

    <p><em>Sign up?</em> Click <a href="{{ url_for('user.signup') }}">here</a> to Sign Up.</p>
</div>
{% endblock %}