{% extends "layout.html" %}

{% block content %}
<div class="flex w-full pt-6">
    <div class="w-1/5 sm:p-6 bg-white">
        <div class="flex flex-col items-center">
            <svg class="w-6 h-6 sm:h-16 sm:w-16 text-gray-500 mb-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 12C14.76 12 17 9.76 17 7C17 4.24 14.76 2 12 2C9.24 2 7 4.24 7 7C7 9.76 9.24 12 12 12ZM12 14C8.69 14 2 15.34 2 18.5V21H22V18.5C22 15.34 15.31 14 12 14Z"/>
            </svg>
            <p class="text-sm sm:text-xl font-semibold text-gray-800">{{ current_user.username }}</p>
        </div>

        <hr class="my-6 border-gray-300">

        <nav class="">
            <button id="fetch-past-orders" class="sm:px-4 sm:py-2 block text-sm sm:text-lg font-medium text-gray-800 hover:text-blue-600 w-full text-left rounded-md" onclick="fetchId('fetch-past-orders')">
                Past Orders
            </button>

            <div class="relative">
                <button id="settings-toggle" class="sm:px-4 sm:py-2 text-sm sm:text-lg font-medium text-gray-800 hover:text-blue-600 w-full text-left rounded-md">
                    Settings
                </button>
                <div id="settings-submenu" class="hidden sm:ml-6 mt-2 space-y-4 text-sm sm:text-lg">
                    <button id="fetch-personal-details" class="block sm:px-4 sm:py-2 text-gray-700 hover:text-blue-600 w-full text-left rounded-md" onclick="fetchId('fetch-personal-details')">
                        Personal Details
                    </button>
                </div>
            </div>
        </nav>
    </div>

    <div class="w-4/5 p-6 bg-white-50" id="content-area">
    </div>
</div>


<script>
    document.getElementById('settings-toggle').addEventListener('click', function() {
        var submenu = document.getElementById('settings-submenu');
        submenu.classList.toggle('hidden');
    });

	fetchId('fetch-past-orders');

	function fetchId(id) {
		if(id == "fetch-past-orders") {
			fetchUrl = {{ url_for('profile.past_orders')|tojson }}
		}
		else {
			fetchUrl = {{ url_for('profile.user_details')|tojson }}
		}
		fetch(fetchUrl)
			.then(response => response.text())
			.then(html => {
				const contentArea = document.getElementById('content-area');
				contentArea.innerHTML = html;
				document.getElementById('fetch-past-orders').classList.remove('bg-gray-100');
				document.getElementById('fetch-personal-details').classList.remove('bg-gray-100');
				document.getElementById(id).classList.add('bg-gray-100');
			})
			.catch(error => console.error('Error fetching past orders:', error));
	}

</script>


{% endblock %}