{% extends "layout.html" %}

{% block content %}
	<div class="grow pt-6">
		<div class="flex justify-center">
			<div class="max-w-7xl grid gap-x-8 gap-y-12 grid-cols-4">
				{% from "_productcard.html" import product_card %}
					{{ product_card(products) }}
			</div>
		</div>
	</div>
	<nav class="mt-10 mb-4 flex justify-center min-w-max items-center gap-x-4">
		{% if pagination.has_prev %}
			<a class="inline-flex mr-1 items-center p-2 text-gray-500 hover:text-gray-900 md:mr-8" href="{{ url_for('index.index', page=pagination.prev_num) }}">
			<span class="flex h-11 w-11 items-center justify-center rounded-full transition-all duration-150 hover:border hover:border-indigo-600">
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.5 1L1.91421 4.58578C1.24755 5.25245 0.914213 5.58579 0.914213 6C0.914213 6.41421 1.24755 6.74755 1.91421 7.41421L5.5 11" stroke="#4F46E5" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</span>
			</a>
		{% else %}
			<a class="inline-flex mr-1 items-center p-2 text-gray-500 hover:text-gray-900 md:mr-8" href="javascript:void(0);">
			<span class="flex h-11 w-11 items-center justify-center rounded-full transition-all duration-150 hover:border hover:border-gray-200">
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.5 1L1.91421 4.58578C1.24755 5.25245 0.914213 5.58579 0.914213 6C0.914213 6.41421 1.24755 6.74755 1.91421 7.41421L5.5 11" stroke="#E5E7Eb" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</span>
			</a>
		{% endif %}

		{% for page_number in pagination.iter_pages() %}
			{% if page_number %}
				{% if page_number != pagination.page %}
				<a class="inline-flex h-11 w-11 items-center justify-center rounded-full border border-gray-200 p-2 text-gray-500 transition-all duration-150 hover:border-indigo-600 hover:text-indigo-900" href="{{ url_for('index.index', page=page_number) }}">{{ page_number }}</a>
				{% else %}
				<a class="inline-flex h-11 w-11 items-center justify-center rounded-full bg-indigo-600 p-2 text-white transition-all duration-150 hover:bg-indigo-600 hover:text-white" href="javascript:void(0);">{{ page_number }}</a>
				{% endif %}
			{% else %}
				<a class="inline-flex h-11 w-11 items-center justify-center rounded-full border border-gray-200 p-2 text-gray-500 transition-all duration-150 hover:border-indigo-600 hover:text-indigo-900" href="javascript:void(0);">...</a>
			{% endif %}
		{% endfor %}

		{% if pagination.has_next %}
			<a class="inline-flex mr-px ml-1 items-center p-2 text-gray-500 hover:text-gray-900 md:ml-8" href="{{ url_for('index.index', page=pagination.next_num) }}">
			<span class="flex h-11 w-11 items-center justify-center rounded-full transition-all duration-150 hover:border hover:border-indigo-600">
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.5 11L5.08578 7.41421C5.75245 6.74755 6.08579 6.41421 6.08579 6C6.08579 5.58579 5.75245 5.25245 5.08579 4.58579L1.5 1" stroke="#4F46E5" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</span>
			</a>
		{% else %}
			<a class="inline-flex mr-px ml-1 items-center p-2 text-gray-500 hover:text-gray-900 md:ml-8" href="javascript:void(0);">
			<span class="flex h-11 w-11 items-center justify-center rounded-full transition-all duration-150 hover:border hover:border-gray-200">
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 11L5.08578 7.41421C5.75245 6.74755 6.08579 6.41421 6.08579 6C6.08579 5.58579 5.75245 5.25245 5.08579 4.58579L1.5 1" stroke="#E5E7Eb" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</span>
			</a>
		{% endif %}
	</nav>
{% endblock %}