{% extends "layout.html" %}

{% block content %}
<div class="mt-4 sm:mt-10 md:mt-20 flex justify-center">
<div id="cart-container" class="max-w-7xl px-px py-6 sm:p-6 bg-gray-100 ">
    {% if products %}
        <form method="POST" action="{{ url_for('product.checkout') }}" id="cart-form" class="space-y-6">
            <div class="bg-white rounded-lg shadow-lg">
				<div class="overflow-x-auto">
					<table class="min-w-full bg-white border border-gray-300">
						<thead class="border-b border-gray-300">
							<tr class="text-gray-600 uppercase text-left text-xs sm:text-sm leading-none sm:leading-normal">
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6"></th>
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6">Product</th>
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6">Price</th>
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6">Quantity</th>
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6">Subtotal</th>
								<th class="sm:py-3 px-0 sm:px-2 lg:px-6"></th>
							</tr>
						</thead>
						<tbody class="text-gray-600 text-sm" id="cart-list">
							{% for product in products %}
							<tr class="border-b border-gray-300" id="{{ product.id }}">
								<td class="py-3 px-0 sm:px-2 lg:px-6"><input type="checkbox" name="product" value="{{ product.id }}" class="mr-1 lg:mr-4 rounded-sm focus:ring-offset-0 focus:ring-0" checked></td>
								<td class="py-3 px-0 sm:px-2 lg:px-6">
									<a href="{{ url_for('product.product', product_id=product.id) }}" class="flex flex-col sm:flex-row grow items-center lg:space-x-5">
										<img src="{{ product.image }}" alt="{{ product.name }}" class="shrink-0 object-fill w-10 h-10 lg:w-24 lg:h-24 rounded-md transition duration-300 ease-in-out hover:scale-[2.0]">
										<div class="flex flex-col lg:pl-10">
											<p class="text-xs sm:text-base sm:font-semibold text-gray-800 line-clamp-5 sm:line-clamp-4">{{ product.name }}</p>
											<div class="flex items-center font-medium mt-1">
												{% from "_stars.html" import stars %}
												{{ stars('p', product.id, product.average_rating, class="w-3 sm:w-4") }}
												<p class="ml-px sm:ml-2 text-xs sm:text-sm text-gray-600">({{ product.rating_count }} reviews)</p>
											</div>
										</div>
									</a>
								</td>
								<td class="py-3 px-0 sm:px-2 lg:px-6 text-xs sm:text-base font-medium text-green-700 text-right pr-1" data-id="price">${{ '%0.2f' % product.price|float|round(2) }}</td>
								<td class="py-3 px-0 sm:px-2 lg:px-6">
									<div class="flex flex-row h-10 w-10 sm:w-20 lg:w-24 bg-transparent border border-gray-200">
										<button type="button" data-action="decrement" class="sm:px-1 bg-transparent text-gray-600 hover:text-gray-700 hover:bg-gray-200">
											<svg xmlns="http://www.w3.org/2000/svg" class="w-2 sm:w-3 feather feather-minus" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"/></svg>
										</button>
										<input name="{{ product.id }}" value="1" min="1" max="100" type="number" class="flex items-center p-0 sm:py-2 sm:px-4 text-xs sm:text-base text-gray-700 text-center w-full bg-transparent font-semibold hover:text-black focus:text-black border-0 focus:ring-offset-0 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none" style="-moz-appearance: textfield;">
										<button type="button" data-action="increment" class="sm:px-1 bg-transparent text-gray-600 hover:text-gray-700 hover:bg-gray-200">
											<svg xmlns="http://www.w3.org/2000/svg" class="w-2 sm:w-3 feather feather-plus" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
										</button>
									</div>
								</td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6 text-xs sm:text-base font-medium text-green-700 text-right pr-1" data-id="subTotal">${{ '%0.2f' % product.price|float|round(2) }}</td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6">
									<div class="lg:ml-6 lg:m-4" onclick="remove(event, {{ product.id }})">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-3 sm:w-6 feather feather-x" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
									</div>
								</td>
							</tr>
							{% endfor %}
							<!--<tfoot>
								<tr class="border-b border-gray-300">
								  <td>cart total</td>
								  <td id="cartTotal">${{ '%0.2f' % cart_total|float|round(2) }}</td>
								</tr>
							</tfoot>-->
							<!--<tr class="border-b border-gray-300">
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6"></td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6"></td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6"></td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6 text-xs sm:text-lg font-semibold">Cart Total: </td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6 text-xs sm:text-lg font-semibold text-green-700" id="cartTotal">${{ '%0.2f' % cart_total|float|round(2) }}</td>
								<td class="sm:py-3 px-0 sm:px-2 lg:px-6"></td>
							</tr>-->
						</tbody>
					</table>
					<br/>
				</div>
				<div class="flex justify-end items-center pr-10">
					<p class="text-sm sm:text-lg">Cart Total:&nbsp;</p>
					<p class="text-sm sm:text-lg font-semibold text-green-700" id="cartTotal" >${{ '%0.2f' % cart_total|float|round(2) }}</p>
				</div>
            </div>
            <input type="submit" value="Buy Now" name="buy" id="cart_checkout" class="w-full py-3 bg-green-500 text-white rounded-md hover:bg-green-600">
        </form>
    {% else %}
        <p class="text-center text-gray-500">Your cart is empty</p>
    {% endif %}
</div>
</div>

<script type="text/javascript">
    function remove(e, productId) {
        fetchUrl = {{ url_for("profile.cart")|tojson }} + "/" + productId;
        fetch(fetchUrl, {
            method: "DELETE",
            redirect: "follow"
        }).then(response => {
            if(response.redirected)
                window.location.href = response.url;
			
			cartTotal = document.getElementById("cartTotal");
			cartTotalFloat = parseFloat(cartTotal.textContent.replace("$", ""))
			subTotal = e.target.closest("tr").querySelector("td[data-id='subTotal']").textContent;
			subTotal = parseFloat(subTotal.replace("$", ""))
			checkbox = e.target.closest("tr").querySelector("input[type=checkbox]")
			if(checkbox.checked){
				cartTotalFloat -= subTotal;
				cartTotal.innerHTML = "$" + (cartTotalFloat).toFixed(2);
			}
            document.getElementById(productId).remove();
			toggleSubmit(submitBtn);
            cartList = document.getElementById("cart-list");
            if (cartList.children.length == 1) {
                document.getElementById("cart-form").remove()
                p_node = document.createElement("p");
                p_node.classList.add("text-center")
                p_node.classList.add("text-gray-500")
                p_node.appendChild(document.createTextNode("Your cart is empty"));
                document.getElementById("cart-container").appendChild(p_node)
            }
        }).catch(err => {
            console.log(err.message);
        });
    }

	function toggleSubmit(submitBtn) {
		const checkBoxes = [...document.getElementById('cart-container').querySelectorAll('input[type=checkbox]')]
		if(checkBoxes.some(x=>x.checked)) {
			submitBtn.removeAttribute("disabled");
			submitBtn.classList.replace("bg-gray-500", "bg-green-500");
			submitBtn.classList.add("hover:bg-green-600");
		} else {
			submitBtn.setAttribute("disabled","");
			submitBtn.classList.replace("bg-green-500", "bg-gray-500");
			submitBtn.classList.remove("hover:bg-green-600")
		}
	}

    const checkboxes = [...document.getElementById('cart-container').querySelectorAll("input[type=checkbox]")]
    const submitBtn = document.getElementById("cart_checkout")

    checkboxes.forEach(checkbox => {
		checkbox.addEventListener("click", (e) => {
			toggleSubmit(submitBtn);
			subTotal = e.target.closest("tr").querySelector("td[data-id='subTotal']").textContent;
			subTotal = parseFloat(subTotal.replace("$", ""))
			cartTotal = document.getElementById("cartTotal");
			cartTotalFloat = parseFloat(cartTotal.textContent.replace("$", ""))
			if(!e.target.checked){
				cartTotalFloat -= subTotal;
				cartTotal.innerHTML = "$" + (cartTotalFloat).toFixed(2);

			} else {
				cartTotalFloat += subTotal;
				cartTotal.innerHTML = "$" + (cartTotalFloat).toFixed(2);
			}
		})
    });
	checkboxes.forEach(checkbox => {
		toggleSubmit(submitBtn);
	});

	function decrement(e) {
		const btn = e.target.closest("td").querySelector(
		  "button[data-action='decrement']"
		);
		const target = btn.nextElementSibling;
		let value = Number(target.value);
		if(value > 1)
		{	
			value--;
			target.value = value;
			changeSubTotal(e, value, "decrement");
		}
	}
	
	function increment(e) {
		const btn = e.target.closest("td").querySelector(
			"button[data-action='increment']"
		);
		const target = btn.previousElementSibling;
		let value = Number(target.value);
		if(value < 100)
		{	
			value++
			target.value = value;
			changeSubTotal(e, value, "increment");
		}
	}

	function changeSubTotal(e, quantity, op) {
		price = e.target.closest("td").previousElementSibling.textContent;
		subTotal = e.target.closest("td").nextElementSibling;
		price = parseFloat(price.replace("$", ""));
		subTotal.innerHTML = "$" + (price * quantity).toFixed(2);
		cartTotal = document.getElementById("cartTotal");
		cartTotalFloat = parseFloat(cartTotal.textContent.replace("$", ""));
		checkbox = e.target.closest("tr").querySelector("input[type=checkbox]");
		if(checkbox.checked) {
		if(op == "increment")
			cartTotalFloat += price;
		else
			cartTotalFloat -= price;
			cartTotal.innerHTML = "$" + (cartTotalFloat).toFixed(2);
		}
	}

	const decrementButtons = document.querySelectorAll(
		"button[data-action='decrement']"
	);

	const incrementButtons = document.querySelectorAll(
		"button[data-action='increment']"
	);

	decrementButtons.forEach(btn => {
		btn.addEventListener("click", decrement);
	});

	incrementButtons.forEach(btn => {
		btn.addEventListener("click", increment);
	});

</script>
{% endblock %}